RewriteEngine On
RewriteBase /
RewriteRule !\.(pdf|scss|well-known|map|base64|js|gif|jpg|png|css|txt|svg|eot|ttf|woff|otf|xml|html|htm|json|csv|woff2|mp4|avi)$ index.php [L]
RewriteCond %{REQUEST_URI} !^/
RewriteRule ^(.*)$ $1 [L]
